[Desktop Entry]
Name=SPi-Box
Comment=Run SPi-Box PIR image capture script
Icon=/home/pi/Spi-Box/icons/SPI-BOXLogo.jpg
Exec=sudo python /home/pi/Spi-Box/spibox.py
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
